In [ ]:
team1=['지승환']
team2=['최동현']
team3=['추희정']
imsi=['김상준', '김선우', '안성진', '유윤태', '윤혜진', '전은채', '조한영', '오승주']
# 8명을 랜덤하게 2명씩 뽑아서 team 1~team 3까지 할당
# 나머지 2명을 랜덤하게 team1~team3 중에서 2개 팀에 각각 1명씩 할당

import random

random.shuffle(imsi)

team1 += imsi[:2]
team2 += imsi[2:4]
team3 += imsi[4:6]

remain = imsi[6:]

team1.append(remain[0])
team2.append(remain[1])

print("Team 1:", team1)
print("Team 2:", team2)
print("Team 3:", team3)

In [12]:
import random

# 초기 팀원 리스트
team1 = ['지승환']
team2 = ['최동현']
team3 = ['추희정']
imsi = ['김상준', '김선우', '안성진', '유윤태', '윤혜진', '전은채', '조한영', '오승주']

# 랜덤하게 팀원 선택 및 배정
random.shuffle(imsi)
team1 += imsi[:2]
team2 += imsi[2:4]
team3 += imsi[4:6]

# 나머지 팀원 중 랜덤하게 2명 선택
remaining_members = imsi[6:]
extra_members = random.sample(remaining_members, 2)

# 선택된 2명을 각 팀에 배정
team1.append(extra_members[0])
team2.append(extra_members[1])

# 결과 출력
print("Team 1:", team1)
print("Team 2:", team2)
print("Team 3:", team3)

Team 1: ['지승환', '오승주', '안성진', '전은채']
Team 2: ['최동현', '김선우', '윤혜진', '조한영']
Team 3: ['추희정', '유윤태', '김상준']

In [21]:
def solution(n):
    for i in range(1,n+1):
        res+=i**2

    return res

In [ ]:
n=[123,44,1,3,123]

res=float("inf")
for i in n:
    if res>i:
        res=i

In [27]:
res

1

In [36]:
name = ["Tom", "Jerry", "Mike", "Tom"]

In [37]:
name2 = ["Tom", "Jerry", "Mike", "Tom", "Mike"]

In [42]:
input_lst=[name, name2]

for n in input_lst:
    res=[]
    for i in n:
        if i not in res:
            res.append(i)
        else:
            print(i)

Tom
Tom
Mike

In [40]:
res=[]
for i in name:
    if i not in res:
        res.append(i)
    else:
        print(i)

Tom

In [46]:
input_l = ["Tom", "Jerry", "Mike"]
for i in range(len(input_l)):
    for j in range(i+1, len(input_l)):  # i 다음부터 시작
        print(input_l[i] + '-' + input_l[j])

Tom-Jerry
Tom-Mike
Jerry-Mike

In [47]:
def fact(n):
    if n<=1:
        return 1
    return n * fact(n-1)

In [48]:
print(fact(5))

120

In [54]:
def solution(n):
    if n<=1:
        return 1
    return n + solution(n-1)

solution(10)

55

In [52]:
hap=0
for i in range(1,11):
    hap+=i

In [ ]:
max=0
for n in list:
    if n>max:
        max=n

In [74]:
li=[37,24,56,15,16,23,100,12,13]
#print(min(li[0], li[1]))
li.remove(min(li[0], li[1]))
print(li)

[37, 56, 15, 16, 23, 100, 12, 13]

In [79]:
li=[37,24,56,15,16,23,100,12,13]
def recursion_max(myList):
    if len(myList)==1:
        return myList[0]

    myList.remove(min(myList[0],myList[1]))
    return recursion_max(myList)

In [80]:
print(recursion_max([37,24,56,15,16,23,100,12,13]))

100