In [ ]:
def bit():
  for i in range(100):
    print('bit')    #print함수가 100번호출+ bitcoin함수를 1번호출 => 메모리에 더 이득

In [ ]:
def bitcoin2():
  print('bit')    #print함수가 100번호출

In [ ]:
for i in range(100):
  bitcoin2()
# bitcoin2()함수를 100번호출

bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit
bit

#재귀호출?
<br>
자기자신을 호출하는 함수
-> 모든 경우의 수를 구현가능

In [ ]:
def hi():
  print('hi')
  hi()

In [ ]:
# hi()

In [ ]:
def hi(cnt):      #cnt=3
    if cnt==0:
        return    #함수를 호출한 곳으로 되돌아가라
    print("(before)hi", cnt)
    cnt-=1
    hi(cnt)
    print('(after)hi',cnt)

'''
hi(3) -> hi(2) -> hi(1) -> hi(0)
'''

In [ ]:
hi(3)

(before)hi 3
(before)hi 2
(before)hi 1
(after)hi 0
(after)hi 1
(after)hi 2

In [ ]:
def factorial(n): #5 -> 4 -> 3 -> 2 -> 1
  if n==1:
    return 1
  return n*factorial(n-1)   # return(3) 변수값(2)*재귀호출함수(1)
'''
return 5*factorial(4)
return 4*factorial(3)
return 3*factorial(2) =3*2=6 -> return
return 2*factorial(1) =2

In [ ]:
print(factorial(5))

120

In [ ]:
#리스트, 딕셔너리(내포) [i**2 for i in a if~]  {}
#함수, 람다 표현식

#람다

In [ ]:
#def 함수명():
def func1(x):
  return x+1
#람다식(익명)으로 함수 정의
# lambda x: x+1

#람다식으로 함수정의
func2 = lambda x: x+1

#람다식 기본 형식(새로운 변수생성불가능)
(lambda 매개변수들 : 수식)(인수들)

In [ ]:
print(func1(5))

6

In [ ]:
print(func2(5))

6

In [ ]:
(lambda x: x+1)(5)

6

In [ ]:
y=10
(lambda x: x+y)(5)

15

In [ ]:
#람다식을 인수로 사용, 대표적으로 map함수에서 사용

In [ ]:
def add_one(x):
  res=[]
  for i in x:
    res.append(i)
  return res

In [ ]:
# add_one(10)

In [ ]:
l=[10,20,30]
# add_one(10)
add_one(l)

[10, 20, 30]

In [ ]:
def add_one2(x):
  return x+1

In [ ]:
list(map(add_one2,l))

[11, 21, 31]

In [ ]:
list(map(lambda x: x+1,l))

[11, 21, 31]

In [ ]:
x=5
(lambda :x)()

5

In [ ]:
#람다식에 조건식을 사용

In [ ]:
a=list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(lambda x: x+1,a))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
list(map(lambda x: str(x),a))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
list(map(lambda x: str(x) if x%2==0 else x, a))


# a에 저장된 리스트의 각 요소를 x에 전달한 다음
# x에 저장된 값이 짝수 이면 str함수를 홀수이면 x값을 출력

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [ ]:
list(map(lambda x: x*2 if x>5 else x, a))

[1, 2, 3, 4, 5, 12, 14, 16, 18, 20]

In [ ]:
list(map(lambda x: x if x!=3 else float(3),a))

[1, 2, 3.0, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# lambda 매개변수들: 식1 if 조건식1 else 식2 if 조건식2 else 식3

In [ ]:
list(map(lambda x: str(x) if x==1 else float(x) if x==2 else x+10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#리스트2개 -> 입력 -> 람다함수연산 -> 리스트1개출력
a = list(range(1,6))
b = list(range(11,16))

In [ ]:
list(map(lambda x,y: x+y,a,b))

[12, 14, 16, 18, 20]

#filter

In [ ]:
#filter(조건에 맞는 데이터요소만 추출)
#filter(함수, 리스트.,,)
#map(함수, 리스트)

In [ ]:
def cum(x,y):
  return x+y
from functools import reduce

reduce(cum,a)

15

In [ ]:
a=[i for i in a if 10<=i<=14]
list(filter(lambda x:10 <=x<=14, a))

# [10, 12, 14] 출력
list(filter(lambda x: x > 8 and x < 16 , a))

[]

In [ ]:
#filter함수
#list내포 []

In [ ]:
x=1   #전역변수: 함수 바깥에서 선언된 변수, 전체코드에서 참조 가능
def aaa():
  print(x)
aaa()
print(x)
#변수를 선언하면 함수 내부에서도 사용가능

1
1

In [ ]:
def bbb():
  k=5   #지역변수
  print(k)
bbb()
#print(k)

5

In [ ]:
def ccc():
  global k
  k=5   #지역변수
  print(k)
ccc()
print(k)

5
5

In [ ]:
def ddd():
  msg='hello'
  def eee():
    print(msg)
  eee()

In [ ]:
ddd()

hello

# class

In [ ]:
class Car:
  def drive(self):
    print('붕붕')
  hp=4000

In [ ]:
gran=Car()

In [ ]:
gran.hp

3000

In [ ]:
type(gran)

__main__.Car

In [ ]:
#클래스 정의
class  Car:
    def drive(self):
        print("자동차가 달립니다")
    def print_msg(self):
        self.drive()
    hp=3000

In [ ]:
gran.drive()
gran.print_msg()

자동차가 달립니다
자동차가 달립니다

In [ ]:
class Person:
  def hello(self):
    print('hello 함수를 호출함')

In [ ]:
print(Person())

<__main__.Person object at 0x7c1e1df5e110>

In [ ]:
class Person:
    def hello(self):    #객체를 생성한 다음, 객체를 통해 호출
        print("hello 함수를 호출했습니다")
    def __init__(self):#객체가 생성되는 시점에 자동호출
        self.mymsg="반갑습니다"
        print('잘가세')

In [ ]:
ikj = Person()      #person클래스로부터 객체가 생성되면 자동으로 __init__메서드호출

잘가

In [ ]:
ikj.mymsg()

TypeError: 'str' object is not callable

In [ ]:
p=Person()
p.hello()

잘가
hello 함수를 호출했습니다

In [ ]:
class Person:
    def hello(self):    #메서드(함수)
        print("hello 함수를 호출했습니다")
        print('저의 이름은 {0}이며, 나이는 {1}입니다.'.format(self.name,self.age))
    def __init__(self, na,ag,addr):   #자동호출
        self.mymsg="반갑습니다"
        print('잘가세요')
        self.name=na      #속성
        self.age=ag
        self.address=addr

In [ ]:
hgd = Person('홍길동', 25, '서울시')    #객체생성

잘가세요

In [ ]:
hgd.hello()

hello 함수를 호출했습니다
저의 이름은 홍길동이며, 나이는 25입니다.

In [ ]:
hgd.address

'서울시'

In [ ]:
class Animal:
  def __init__(self,nl,ag,sp):
    self.num_leg=nl
    self.age=ag
    self.species=sp
    print('객체 초기화 함수init가 호출되었습니다')
  def sleep(self):
    print('{} 종류의 동물이며 {}개의 다리를 가지고 있습니다.'.format(self.species,self.num_leg))

In [ ]:
puppy=Animal(4, 20, 'Mammalia')   #puppy객체 호출

객체 초기화 함수init가 호출되었습니다

In [ ]:
puppy.sleep()

Mammalia 종류의 동물이며 4개의 다리를 가지고 있습니다.

In [ ]:
baduki=Animal(4,20,'Mammalia')

객체 초기화 함수init가 호출되었습니다

In [ ]:
baduki.sleep()

Mammalia 종류의 동물이며 4개의 다리를 가지고 있습니다.

# 과제

In [ ]:
# 1
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(100):
  print(i,sep='\n')


# 2
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050
# 참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

# >> print(list(range(0, 10, 2)))
# [0, 2, 4, 6, 8]

lst = [i for i in range(2002,2051) if ((i-2002)%4==0)]
lst


# 3
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for i in range (10):
  num=0.1*i
  print(f'{num:0.1f}')


# 4
# 구구단 3단을 출력하라.

# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27

for i in range(1,10):
  print('3x{}={}'.format(i,i*3))


# 5
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

# 3x1 = 3
# 3x3 = 9
# 3x5 = 15
# 3x7 = 21
# 3x9 = 27

for i in range(1,10):
  if i%2==1:
    print('3x{}={}'.format(i,i*3))

# 6
# my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  print(my_list[i],my_list[i+1])


# 7
# 리스트를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
  print(my_list[i],my_list[i+1],my_list[i+2])


# 8
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가


my_list = ["가", "나", "다", "라"]
re = list(reversed(my_list))      #리스트를 역순으로 바꾼 뒤 6번과 같은 패턴
for i in range(len(my_list)-1):
  print(re[i],re[i+1])


# 9
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

# my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다.
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

# 100
# 200
# 400

my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(my_list[i+1]-my_list[i])

# 10
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

# my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  avg=(my_list[i]+my_list[i+1]+my_list[i+2])/3
  print(avg)

# 11
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을
# volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = list(map(lambda x,y :y-x,low_prices,high_prices))
volatility


# 12
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
# 주식 매매 수수료를 0.014 %로 가정할 때, 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# ...

for i in range(len(data)):
  for j in range(len(data[i][:])):
    print(data[i][j]*1.00014)


# 13
# 12번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

for i in range(len(data)):
  for j in range(len(data[i][:])):
    print(data[i][j]*1.00014)
  print("----")


# 14
# 12 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

result = []
for i in range(len(data)):
  for j in range(len(data[i][:])):
    result.append(data[i][j]*1.00014)
result

3x1=3
3x3=9
3x5=15
3x7=21
3x9=27

라 다
다 나
나 가

In [ ]:
# 15
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 190
# 310

for i in range(len(ohlc)):
  for j in range(len(ohlc[i][:])):
    if i!=0 and j==3:
      print(ohlc[i][j])


# 16
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# 190
# 310

for i in range(1,len(ohlc)):
  if ohlc[i][3]>150:
        print(ohlc[i][3])


# 17
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# 100
# 310

for i in range(1,len(ohlc)):
  if ohlc[i][3]>=ohlc[i][0]:
    print(ohlc[i][3])


# 18
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]


volatility = []
for i in range(1,len(ohlc)):
    cha =ohlc[i][1]-ohlc[i][2]
    volatility.append(cha)
print(volatility)


# 19
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# 종가가 시가보다 높은 날은 [300, 310, 300, 310] 이다. 이때 변동성은 10 (310 - 300)이다.

for i in range(1,len(ohlc)):
    if ohlc[i][3]>ohlc[i][0]:
      print('변동성 {}({}-{})'.format(ohlc[i][3]-ohlc[i][0],ohlc[i][3],ohlc[i][0]))


# 20
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 수익금을 계산하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

for i in range(1,len(ohlc)):
  print('{}일차 수익 {}원 ({}-{})'.format(i,ohlc[i][3]-ohlc[i][0],ohlc[i][3],ohlc[i][0]))
print('이다')


# 21
# 파이스탁의 주가가 1,000원이다. 50일 연속 상한가 (30%)를 기록했을 때의 금액을 출력하라.
# 단, 문제를 간단히 하기 위해 원단위 절사는 하지 않는다.

# 497929222.9791276

pyst = 1000
for i in range(50):
   pyst=pyst*1.3
print(pyst)


# 22
# 리스트에 저장된 수 중에서 짝수들의 합을 출력하라.

my_list = [20, 38, 41, 50, 2, 4, 3, 4, 5, 8, 9, 10]
# 136

hap = 0
for n in my_list:
  if n%2==0:
    hap+=n
hap


# 23
# 리스트에 저장된 수 중에서 짝수들의 합을 출력하라.

my_list = [ [20, 38], [41, 50], [2, 4], [3, 4], [5, 8], [9, 10] ]
# 136

hap = 0
for i in range(len(my_list)):
  for j in  range(len(my_list[0])):
    if my_list[i][j]%2==0:
      hap+=my_list[i][j]

hap

# 24
# For문을 사용하여 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성하라.

# ***
#  **
#   *

for i in range(3):
  print(' '*i,'*'*(3-i))


# 25
# 다음과 같은 패턴의 별(*)을 출력하는 프로그램을 작성하라.

# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *

def star(s):
  if s==0:
    return
  print('*'*(5-s))
  s-=1
  star(s)
  print('*'*(5-s))

star(5)


# 26
# 다음과 같은 패턴의 별(*)을 출력하는 프로그램을 작성하라.

# *****
#  ****
#   ***
#    **
#     *
#     *
#    **
#   ***
#  ****
# *****

def star(s):
  if s==0:
    return
  print(' '*(5-s),'*'*s)
  s-=1
  star(s)
  print(' '*(4-s),'*'*(s+1))

star(5)

100
200
400
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001
2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
100
190
310
190
310

In [ ]:
# 특별문제
# 상자 최대 낙차를 출력하시오.
# gravity=[7,4,2,0,0,6,0,7,0]
# 답:7

gravity=[7,4,2,0,0,6,0,7,0]
num_count = 0
i=7
fall
f_fall=0
for n in gravity:
  if n>=i:
    num_count+=1
fall = len(gravity)-num_count
if fall>f_fall:
  f_fall=fall

print(f_fall)

7

In [ ]:
gravity=[7,4,2,0,0,6,0,7,0]
f_fall=0      #최대낙차
for i in range(1,8):    # i는 상자의 높이
  if i in gravity:      # i가 gravity의 인자라면
    num_count = 0    # 높이가 i인 인자개수
    for n in gravity:     # n = gravity 인자
      if n>=i:
        num_count+=1
    fall = len(gravity)-num_count   #그 층의 낙차
    if fall>f_fall:
      f_fall=fall    #낙차중 최대낙차
print(f_fall)

7