# 함수

In [ ]:
#함수 : y=ax+b

In [ ]:
x=0

In [ ]:
x=x+1

In [ ]:
print(x)

1

In [ ]:
def 함수이름():
  코드

In [ ]:
#함수정의
def getMSG():
  print('hi hello')
  #return

In [ ]:
#함수 호출
getMSG()

hi hello

In [ ]:
def getJuice(s):    #매개변수
  #mix
  return s+'juice'

In [ ]:
v=getJuice('딸기')
print(v)

딸기juice

In [ ]:
def imsiFunc():
  pass

In [ ]:
imsiFunc()

In [ ]:
def add(a,b):
  return a+b

In [ ]:
x=1
y=2
add(x,y)

3

In [ ]:
# #함수유형
# 입력이 없는 함수
# 리턴이 없는 함수
# 입력, 리턴 모두 없는 함수
# 매개변수를 지정하여 호출하는 함수

In [ ]:
def abc(x,y,z=10) :
  return z-x-y

abc(y=3, x=1, z=5)

1

In [ ]:
help(abc)

Help on function abc in module __main__:

abc(x, y, z=10)

In [ ]:
def myfunc():
  return 100

In [ ]:
h = myfunc()
h

100

In [ ]:
def acc(x,y):
  hap=f'합:{x+y}'
  cha=f'차:{x-y}'
  gop=f'곱:{x*y}'
  na=f'나눔:{x/y}'
  print(hap,cha,gop,na,sep='\n')

a,b=map(int,input('두수를 입력하세요 :').split())
acc(a,b)

In [ ]:
def add(*v):    # 인수개수 정해지지않을떄
  print(v)
  res=0
  for i in v:
    res+=1
  return res

In [ ]:
print(add(1,2,3))

(1, 2, 3)
3

In [ ]:
def addOrsub(op,*v) :
  res=0
  if op=='add':
    for i in v:
      res+=i
  elif op=='sub':
    for i in v:
      res-=i
  return res

In [ ]:
addOrsub('add',1,2,3,4)

In [ ]:
addOrsub('sub',1,2,2,2,3,4,)

In [ ]:
def myfunc2(n, a, man=True):
  print('이름:%s' %n)
  print('나이:%d' %a)
  if man:
    print('남')
  else:
    print('여')

In [ ]:
myfunc2('hong', 20, True)

In [ ]:
myfunc2('hong', 20, False)

In [ ]:
def prn_nums(a,b,c):
  print(a)
  print(b)
  print(c)

In [ ]:
prn_nums(1,2,3)

NameError: name 'prn_nums' is not defined

In [ ]:
n=[1,2,3]
prn_nums(*n)

NameError: name 'prn_nums' is not defined

In [ ]:
def myfunc(odd,*n):
  if odd=='add':
    res=0
    for i in n:
      res+=i
  else:
    res=0
    for i in n:
      res-=i
  return res

myfunc('add',1,2,3)
myfunc('sub',1,2,3,4)

-10

In [ ]:
#딕셔너리
def per(n, a, addr):
  print('이름', n)
  print('나이', a)
  print('주소', addr)

In [ ]:
dic={'n':'hong','a':'20','addr':'seoul'}

In [ ]:
per(**dic)

이름 hong
나이 20
주소 seoul

In [ ]:
per(**{'n':'hong','a':'20','addr':'seoul'})

# 과제

In [ ]:
# 1. 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다.
# 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을
# 만드세요.
# input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.
# 예)
# 입력
# health health_regen mana mana_regen
# 575.6 1.7 338.8 1.63
# 결과
# {'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}
# 입력
# health mana melee attack_speed magic_resistance
# 573.6 308.8 600 0.625 35.7
# 결과
# {'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

key_lst=input().split()
value_lst=input().split()
res = dict(zip(key_lst,value_lst))
print(res)

a b c
1 2 3
{'a': '1', 'b': '2', 'c': '3'}

python
python

TypeError: 'str' object does not support item assignment

In [ ]:
# 3. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다.
# 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E
# >> score: 83
# grade is A
score=int(input('score:'))
if 81<=score<=100:
  print(f'grade is A')
elif 61<=score<=80:
  print(f'grade is B')
elif 41<=score<=60:
  print(f'grade is C')
elif 21<=score<=40:
  print(f'grade is D')
elif 0<=score<=20:
  print(f'grade is E')

#4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
for i in range(1,101):
  print(i)

# 5.
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# for문을 사용하여 A 학급의 평균 점수를 구해 보자.

score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
hap=0
for s in score:
  hap+=s
A_avg = hap/len(score)
print(A_avg)

# 6.
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라.
# 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에
#  공백을 넣어 입력한다고 가정한다.

# 통화명	환율
# 달러	1367
# 엔	1.196
# 유로	1368
# 위안	181
# >> 입력: 100 달러
# 136700.00 원

money, unit = input('입력: ').split()
if unit == '달러':
  print(float(money)*1367,'원')
elif unit == '엔':
  print(float(money)*1196,'원')
elif unit == '유로':
  print(float(money)*1368,'원')
elif unit == '위안':
  print(float(money)*181,'원')


# 7.
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

# >> input number1: 10
# >> input number2: 9
# >> input number3: 20
# 20

number1 = int(input('input number1: '))
number2 = int(input('input number2: '))
number3 = int(input('input number3: '))
num = [number1,number2,number3]
num.sort()
print(num[2])

# 8.
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

# 리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro
filename = ['hello.py', 'ex01.py', 'intro.hwp']
for n in filename:
  name,_ = n.split('.')
  print(name)


# 9.
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h

filename = ['intra.h', 'intra.c', 'define.h', 'run.py']
for n in filename:
  _,ex = n.split('.')
  if ex == 'h':
    print(n)


# 10.
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h

filename = ['intra.h', 'intra.c', 'define.h', 'run.py']
for n in filename:
  _,ex = n.split('.')
  if ex=='h' or ex=='c':
    print(n)

# 11. 자판기(pro, 커피 한 잔에 300원이라 가정, 초기 커피는 10개)
# 돈을 넣어 주세요: 500
# 거스름돈 200를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 300
# 커피를 줍니다.
# 돈을 넣어 주세요: 100
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 돈을 넣어 주세요: 0
# 종료합니다
coffee=10

while coffee>0:
  x = int(input('돈을 넣어주세요:'))
  if x>300:
    x=x-300
    print(f'거스름돈 %d을 주고 커피를 줍니다.' %x)
    coffee-=1
  elif x==300:
    print('커피를 줍니다.')
    coffee-=1
  else:
    print('돈을 다시 돌려주고 커피를 주지 않습니다.')
print('종료합니다.')


# 12. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
# *
# **
# ***
# ****
# *****
for i in range(1,6):
  print('*'*i,sep='\n')

# 13
# 아래 표에서 하나의 행을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호	103호
# 201호	202호	203호

# aprt=[[101호,102호,103호],[201호,202호,203호]]

# 14
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330
# stock=[['시가',100,200,300], ['종가',80,210,330]]

# 15
# 아래 표를 stock 이름의 딕셔너리로 표현하라. 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가를 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

col1 = ['시가',100,200,300]
col2 = ['종가',80,210,330]
stock = dict(zip(col1,col2))
print(stock)


# 16
# 아래 표를 stock 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

row1 = [10/10, 80, 110, 70, 90]
row2 = [10/11, 210, 230, 190, 200]


# 17
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
apart = [ [101, 102], [201, 202], [301, 302] ]
for n in apart:
  for s in n:
    print(s,'호')

# 18
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호
apart = [ [101, 102], [201, 202], [301, 302] ]
for n in reversed(apart):
  for s in n:
    print(s,'호')

# 19
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for n in reversed(apart):
  for s in reversed(n):
    print(s,'호')

# 20
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for n in apart:
  for s in n:
    print(s,'호')
    print('-----')


# 21
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for n in apart:
  for s in n:
    print(s,'호')
    print('-----')

score:60
grade is C

In [ ]:
str = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'

In [ ]:
# 2. 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음).
# 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여
# 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

# 예
# 입력
# python
# python
# 결과
# yhnpto
# 입력
# apple
# strawberry
# 결과
# plsrwer

first_str=input()
secon_str=input()
lst_f_str = list(first_str)
lst_s_str = list(secon_str)
res1=[]
res2=[]
for i in range(len(lst_f_str)):
  if i%2==1:
    res1.append(lst_f_str[i])

for j in range(len(lst_s_str)):
  if j%2==0:
    res2.append(lst_s_str[j])
res=res1+res2
print(''.join(res))

python
python
yhnpto

In [ ]:
# 21
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]
for n in apart:
  for s in n:
    print(s,'호')
  print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----